
body{
	margin:auto;
	max-width: 900px;
	font-family:Verdana;
	color:black;
}

header{
	background-color: green;
	padding:2% ;
	color:white;
	text-align:center;				
}

header a{
	text-decoration:none;
	color:white;
}

h2{
	color: green;
}

h3{
	color:red;
}
img{
	width:100%;
}
video{
	width:100%;
}
main{
	margin-top:15%;
	margin-bottom:15%;
}

article{
	margin: 2%;
}

article a{
	color: rad;
}

aside{
	background-color:#333;
	margin: 5%;
	padding: 2%;
	color: white;
	font-family: comic sans ms;
}

aside h2,a{
	color:white;
}

footer{
	background-color: green;
	padding:2%;
	color:white;
	font-size: 0.9em;
	text-align:center;
}

footer h2{
	color:white;	
}

.grand-titre-style{
	background-color: green;
}

@media (max-width: 768px) {
	body{
		max-width: 100%;
	}
	img{
		max-width:100%;
	}
}